@page "/Search"

@rendermode InteractiveWebAssembly

@inject TSettingsLocalStorage SettingsService
@inject IJSRuntime JS

<PageTitle>Search some torrents on Sharewood</PageTitle>

<h1>Search</h1>

<EditForm Model="@Request">
  <DataAnnotationsValidator />
  <ValidationSummary />
  <div class="mb-3">
    <label for="TorrentsLimit" class="form-label fw-bold">Number of torrents to retrieve</label>
    <InputNumber id="TorrentsLimit" class="form-control" @bind-Value="Request.TorrentsLimit" />

    <label for="defaultCategoryInput" class="form-label fw-bold">Category</label>
    <select id="defaultCategoryInput"
            class="form-select"
            @onchange="onCategorySelected">
      @foreach (ESharewoodCategory category in Enum.GetValues<ESharewoodCategory>()) {
        @if (category == Request.Category) {
          <option value="@category" selected>@category.ToString()</option>
        } else {
          <option value="@category">@category.ToString()</option>
        }
      }

    </select>

    <label for="defaultSubCategoryInput" class="form-label fw-bold">Sub Category</label>
    <select id="defaultSubCategoryInput" class="form-select" @onchange="onSubCategorySelected">
      @if (Request.Category == ESharewoodCategory.None) {
        <option value="@ESharewoodSubCategory.None.ToString()" selected>None</option>
      } else {
        <option value="@ESharewoodSubCategory.None.ToString()">None</option>
        @foreach (ESharewoodSubCategory subcategory in Request.Category.GetSubCategories()) {
          if (subcategory == Request.SubCategory) {
            <option value="@subcategory" selected>@subcategory.ToString().After(Request.Category.ToString())</option>
          } else {
            <option value="@subcategory">@subcategory.ToString().After(Request.Category.ToString())</option>
          }
        }
      }
    </select>

    <label for="searchTermInput" class="form-label fw-bold">Title</label>
    <InputText id="searchTermInput" class="form-control" @bind-Value="Request.NameFilter" />

  </div>
</EditForm>

<DisplayTorrents Torrents="Torrents" Message="@Message" />

<button class="btn btn-primary" @onclick="RefreshAsync">Refresh</button>

@code {
  private TSharewoodRequest Request = new TSharewoodRequest();
  private TSharewoodResponse Torrents = [];
  private TSettingsData SettingsData = new TSettingsData();
  private string Message = string.Empty;

  protected override async Task OnInitializedAsync() {
    if (string.IsNullOrEmpty(SettingsData.ApiKey) || string.IsNullOrEmpty(SettingsData.SharewoodUrl)) {
      SettingsData = await SettingsService.ReadAsync();
      if (string.IsNullOrEmpty(SettingsData.ApiKey) || string.IsNullOrEmpty(SettingsData.SharewoodUrl)) {
        Message = "API Key or Sharewood URL is not set in the settings.";
        return;
      }
    }
    Request.Category = SettingsData.DefaultCategory;
    Request.SubCategory = SettingsData.DefaultSubCategory;
    Request.TorrentsLimit = SettingsData.TorrentsLimit;
    await RefreshAsync();
  }

  private async Task RefreshAsync() {
    try {
      Torrents.Clear();

      using (TSharewoodClient SharewoodClient = new(SettingsData.ApiKey, SettingsData.SharewoodUrl)) {
        TSharewoodResponse? Result = await SharewoodClient.SearchTorrentsAsync(Request);
        if (Result is not null) {
          Torrents.AddRange(Result);
        }
      }
      Message = string.Empty;
    } catch (Exception ex) {
      Message = $"Error refreshing animes: {ex.Message}";
    }
  }

  private void onCategorySelected(ChangeEventArgs e) {
    if (e.Value is string Category) {
      Request.Category = Enum.Parse<ESharewoodCategory>(Category);
      Request.SubCategory = ESharewoodSubCategory.None;
      Torrents.Clear();
      StateHasChanged();
    }
  }

  private void onSubCategorySelected(ChangeEventArgs e) {
    if (e.Value is string subCategory) {
      Request.SubCategory = Enum.Parse<ESharewoodSubCategory>(subCategory);
      Torrents.Clear();
      StateHasChanged();
    }
    
  }
}